html, body {
  background-color: rgb(213, 215, 219);
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.Forms {
  text-align: center;
}

.Forms-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Forms-link {
  color: #61dafb;
}

.Form {
  background-color: #f7f7f7;;
  border: 3px solid rgb(62, 92, 131);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10vh auto;
  padding: 10px;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 600px;
}

.Title{
  font-size: 50px;
  color: rgb(62, 92, 131);
  margin-bottom: 115px;
  position: relative;
  text-align: center;
}

.Title::after {
  content: '';
  display: block;
  margin: 10px auto 0; 
  width: 120%;
  height: 3px; 
  background-color: rgb(62, 92, 131);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.Name, .Email {
  font-size: 30px;
  display: flex; 
  flex-direction: column;
  align-items: flex-start; 
  margin-bottom: 5px;
}

.NameInput, .EmailInput {
  font-size: 20px;
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
}

.SendButton {
  background-color: rgb(62, 92, 131);
  color: white;
  font-size: 20px;
  margin-top: 105px;
  height: 40px;
  width: 300px;
}